# ----------------------------------------------------------
# Android.gitignore
# built application files
# ----------------------------------------------------------
bin
gen
proguard

# Local configuration file (sdk path, etc)
local.properties

# ----------------------------------------------------------
# Global/Eclipse.gitignore
# ----------------------------------------------------------
*.pydevproject
.project
.metadata
bin/**
dest/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.log
*.swp
*~.nib
.classpath
.settings/
.loadpath

# ----------------------------------------------------------
# External tool builders
# ----------------------------------------------------------
.externalToolBuilders/

# ----------------------------------------------------------
# Locally stored "Eclipse launch configurations"
# ----------------------------------------------------------
*.launch

# ----------------------------------------------------------
# CDT-specific
# ----------------------------------------------------------
.cproject

# ----------------------------------------------------------
# PDT-specific
# ----------------------------------------------------------
.buildpath

# ----------------------------------------------------------
# Global/OSX.gitignore
# ----------------------------------------------------------
.DS_Store

# ----------------------------------------------------------
# Thumbnails
# ----------------------------------------------------------
._*

# ----------------------------------------------------------
# Files that might appear on external disk
# ----------------------------------------------------------
.Spotlight-V100
.Trashes

# ----------------------------------------------------------
# Global/Windows.gitignore
# Windows image file caches
# ----------------------------------------------------------
Thumbs.db 

# ----------------------------------------------------------
# Folder config file
# ----------------------------------------------------------
Desktop.ini

# ----------------------------------------------------------
#Gradle
# ----------------------------------------------------------
.gradle
build
libs

# ----------------------------------------------------------
# Intellij Idea and Android Studio files
# ----------------------------------------------------------
.idea
*.iml
